.border{
    border: 2px solid red;
    margin: 3px;
}

.flex{
    display: flex;
}

.justify-center{
    justify-content: center;
}

.item-center{
    align-items: center;
}

.bg-black{
    background-color: black;
    color: #e9e9e9;
}

.invert{
    filter: invert(1);
}

.bg-grey{
    background-color: #121212;
}

.rounded{
    border-radius: 7px;
}

.m-1{
    margin: 5px;
}

.p-1{
    padding: 10px;
}


/* Firefox scrollbar styling */
  * {
    scrollbar-width: auto; /* Default thicker scrollbar */
    scrollbar-color: #4a4a4a #1e1e1e; /* Thumb color and track color */
  }
  
  /* Edge/IE fallback (optional) */
  body {
    scrollbar-base-color: #1e1e1e; /* Base color for the scrollbar */
    scrollbar-face-color: #4a4a4a; /* Thumb color */
    scrollbar-highlight-color: #6c6c6c; /* Hover color */
  }